@model IEnumerable<TaxiApplication.Domain.Entity.TaxiOrder>
@{
    ViewBag.Title = "GetAllOrders";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container-for-table-outgoing-fields">
        <div class="table-outgoing-fields-div">
            <table class="table-outgoing-fields">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Описание</th>
                        <th>Старт</th>
                        <th>Финиш</th>
                        <th>Тариф</th>
                        <th>Цена</th>
                        <th>Дистанция</th>
                        <th>Время</th>
                        <th>Оплата</th>
                        <th>Кол-во пассажиров</th>
                        <th>Гендер водителя</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int num = 0;
                    }
                    @foreach (var taxiOrder in Model.ToList())
                    {
                        num += 1;
                        <tr>
                            <td>@num.ToString()</td>
                            <td>@taxiOrder.CurrentRoute!.Description</td>
                            <td>@taxiOrder.CurrentRoute.StartLocation</td>
                            <td>@taxiOrder.CurrentRoute.EndLocation</td>
                            <td>@taxiOrder.Tariff</td>
                            <td>@taxiOrder.Price</td>
                            <td>@taxiOrder.CurrentRoute.Distance</td>
                            <td>@taxiOrder.CurrentRoute.Time</td>
                            <td>@taxiOrder.PaymentMethod</td>
                            <td>@taxiOrder.NumberOfPassengers</td>
                            <td>@taxiOrder.DriverGenderPreference</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
   
</body>
</html>


