@model IEnumerable<TaxiApplication.Domain.Entity.Client>
@{
	ViewBag.Title = "GetAllClient";
    
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Password</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.ToList())
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Login</td>
                    <td>@user.Password</td>
                    <td>@user.Profile.Name</td>
                    <td>@user.Profile.Surname</td>
                    <td>@user.Profile.Age</td>
                    <td>@user.Profile.Email</td>
                    <td>@user.Profile.PhoneNumber</td>            
                </tr>
            }
        </tbody>
    </table>
</div>

