@model IEnumerable<TaxiApplication.Domain.Entity.Client>
@{
    ViewBag.Title = "AdminPanel";
}

<div class="container-for-table-cross-sel">
    <div class="table-cross-sel-div">
        <table class="table-cross-sel">
            <thead>
                <tr>
                    <th>Id</th>              
                    <th>Login</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Delete</th>
                    <th>Update</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.ToList())
                {
                    <tr>
                        <td>@user.Id</td>                 
                        <td>@user.Login</td>
                        <td>@user.Password</td>
                        <td>@user.Role</td>
                        <td>@user.Profile.Name</td>
                        <td>@user.Profile.Surname</td>
                        <td>@user.Profile.Age</td>
                        <td>@user.Profile.Email</td>
                        <td>@user.Profile.PhoneNumber</td>
                        <td>
                            <form asp-controller="Admin" asp-action="DeleteClient" asp-route-id="@user.Id">
                                <button class="standart-btn" type="submit">Delete</button>
                            </form>
                        </td>
                        <td>
                            <form asp-controller="Admin" method="get" asp-action="UpdateClient" asp-route-id="@user.Id">
                                <button class="standart-btn" type="submit"> Update</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


