@model IEnumerable<TaxiApplication.Domain.Entity.User>
@{
    ViewBag.Title = "AdminPanel";
}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Delete</th>
            <th>Update</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.ToList())
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>
                    <form asp-controller="User" asp-action="DeleteUser" asp-route-id="@user.Id">
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
                <td>
                    <form asp-controller="User" method="get" asp-action="UpdateUser" asp-route-id="@user.Id">
                        <input type="submit" value="Update" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
