@model IEnumerable<TaxiApplication.Domain.Entity.User>
@{
	ViewBag.Title = "GetAllUsers";
}

<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Password</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.ToList())
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@user.Password</td>
                </tr>
            }
        </tbody>
    </table>
</div>

